<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Wild_Games.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <Wild_Games.My.MySettings>
            <setting name="login" serializeAs="String">
                <value />
            </setting>
            <setting name="haslo" serializeAs="String">
                <value />
            </setting>
            <setting name="plan" serializeAs="String">
                <value>free</value>
            </setting>
            <setting name="koniecpremium" serializeAs="String">
                <value>xx.xx.xxxx @ xx:xx</value>
            </setting>
            <setting name="loggedout" serializeAs="String">
                <value>n</value>
            </setting>
            <setting name="steamid" serializeAs="String">
                <value />
            </setting>
            <setting name="tejksub" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filename" serializeAs="String">
                <value>CSChanger_beta_fskinchanger.dll</value>
            </setting>
            <setting name="injectpath" serializeAs="String">
                <value />
            </setting>
            <setting name="version" serializeAs="String">
                <value>b1.00.1.3</value>
            </setting>
        </Wild_Games.My.MySettings>
    </userSettings>
</configuration>
